*{
    box-sizing: border-box;
}
/* Home */
.home{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.home-container{
    width: 700px;
    height: 300px;
    margin-top: 100px;
    text-align: center;
}
.home-container .inputContainer{
    position: relative;
}
.home-container input{
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
    width: 50%;
    padding-left: 15px;
    border: 1px solid gray;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}
.home-container input:focus{
    outline: none;
}
.home-container button{
    border: 1px solid gray;
    border-left: none;
    padding: 10px;
    background-color: white;
    width: 70px;
    cursor: pointer;
    border-top-right-radius: 20px;
    font-size: 1em;
    border-bottom-right-radius: 20px;
}
.home-container .inputSuggestion{
    width: calc(50% + 70px);
    position: absolute;
    background-color: white;
    border: 1px solid rgb(161, 161, 161);
    left: calc(25% - 35px);
    border-radius: 10px;
    padding: 10px;
}
.home-container .inputSuggestion p{
    margin: 0;
    padding: 10px;
    text-align: start;
    cursor: pointer;
}
.home-container .inputSuggestion p:hover{
    background-color: rgb(221, 221, 221);
}
.home-container .restaurantCardContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.restaurantCardContainer .restaurantCard{    
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100%/3) - 10px);
    margin: 5px;
    border: 1px solid rgb(161, 161, 161);
    padding: 10px;
    height: 100px;
    border-radius: 10px;
    font-weight: 500;
    font-size: large;
    color:rgb(30, 30, 30);
    text-decoration:none;
}
/* Restaurant Page */
.restaurant{
    padding: 40px 70px;
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.restaurant img{
    position: sticky;
    top: 10px;
}
.restaurant .title{
    font-weight: 500;
}
.restaurant .timing{
    padding: 0 10px;
    padding-bottom: 15px;
    margin-right: 20px;
}
.restaurant .timing p span{
    float: right;
    margin-right: 20px;
}
.restaurant .review{
    border: 1px solid gray;
    padding: 15px ;
    border-radius: 10px;
    margin: 15px 0;

}
.restaurant .reviewHead{
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 10px;
}
.restaurant .reviewHead span:nth-child(1){
    font-weight: 500;
    font-size: 1.1em;
}
.restaurant .reviewHead span:nth-child(2){
    float: right;
    margin-right: 20px;
}
.restaurant .review > span{
    font-size: .9em;
    display: block;
    text-align: right;
    font-weight: 500;
    color: gray;
    margin-right: 20px;
}
.restaurant p{
    width: 100%;
}
.restaurant .comments{
    padding: 15px;
}